@model IEnumerable<EZTix.Models.Show>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To EZ Tix</h1>
</div>
<div class="show-list">

        @foreach (var show in Model)
        {
           @* <img src="@show.ImagePath" alt="@show.Description" class="img-fluid rounded mb-2 performance-img" /> *@
            <h2>@show.Title</h2>
            <p>
                @* @show.ShowId<br /> *@
                @show.Description<br />
                @show.Owner<br />
                @show.ShowTime <br />
                @show.Venue?.VenueName <br />
                @show.Venue?.VenueLocation <br />
            </p>
        }
</div>